# 2023 eksamen 

## Opgave 1

In [2]:
import numpy as np
import pandas as pd

# Load the dataset
df = pd.read_stata('HomeVisit.dta', convert_dates=True)

# If you suspect that there are encoding issues, you can convert object columns
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].str.encode('latin-1').str.decode('utf-8', errors='ignore')

df.describe().T.round(3)

/var/folders/nk/d0gbqgzj30d21jjn_bxj9dmc0000gn/T/ipykernel_5477/2581101886.py:5: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  df = pd.read_stata('HomeVisit.dta', convert_dates=True)

,count,mean,std,min,25%,50%,75%,max
Year,1479.0,1941.000,4.901,1933.000,1937.000,1941.000,1945.000,1949.000
StartYear,1479.0,1949.839,13.222,1937.000,1940.000,1945.000,1950.000,1974.000
HomeVisit,1479.0,0.318,0.466,0.000,0.000,0.000,1.000,1.000
LogSurvrate,1305.0,6.842,0.034,6.493,6.827,6.847,6.863,6.906
LogPopulation,1479.0,8.828,1.194,6.551,7.972,8.825,9.536,13.546
OverallDeathRate,1479.0,11.744,2.637,2.222,10.000,11.304,12.944,24.545
ShareSocdem,1479.0,0.232,0.056,0.083,0.195,0.232,0.269,0.413
ShareFarming,1479.0,0.073,0.057,0.006,0.032,0.055,0.109,0.330
ShareIndustry,1479.0,0.402,0.071,0.209,0.355,0.399,0.454,0.563
ShareIncometax,1479.0,0.308,0.048,0.099,0.279,0.312,0.344,0.476
ShareProperty,1479.0,0.049,0.011,0.024,0.042,0.048,0.054,0.106
Rural,1479.0,0.563,0.496,0.000,0.000,1.000,1.000,1.000

In [3]:
df = pd.read_stata('HomeVisit.dta')

print(df.columns)

Index(['Kom', 'Year', 'StartYear', 'HomeVisit', 'LogSurvrate', 'LogPopulation',
       'OverallDeathRate', 'ShareSocdem', 'ShareFarming', 'ShareIndustry',
       'ShareIncometax', 'ShareProperty', 'Rural'],
      dtype='object')

/var/folders/nk/d0gbqgzj30d21jjn_bxj9dmc0000gn/T/ipykernel_5477/4062697011.py:1: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  df = pd.read_stata('HomeVisit.dta')